<!doctype html>
  <html class="no-js" lang="no">

    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>{{docTitle}}</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="manifest" href="/site.webmanifest">
      <link rel="apple-touch-icon" href="icon.png">
      <link rel="stylesheet" href="/assets/css/{{hashedAssets 'bundle.css'}}">
      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin=""/>
    </head>

    <body>

      <header>
        <nav class="navbar navbar-expand-md navbar-dark navbar-bg">
          <a class="navbar-brand" class="none" href="/">Norsk enduro</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Vis meny">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link {{#compare active '===' 'ritt'}}active{{/compare}}" href="/ritt">Ritt</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#compare active '===' 'ryttere'}}active{{/compare}}" href="/ryttere">Ryttere</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#compare active '===' 'rank'}}active{{/compare}}" href="/ranking">Ranking</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {{#compare active '===' 'compare'}}active{{/compare}}" href="/sammenlign">Sammenligne</a>
              </li>
<!-- -              <li class="nav-item">
              <a class="nav-link {{#compare active '===' 'cal'}}active{{/compare}}" href="/kalender">Kalender 2019</a>
      </li> -->
      <li class="nav-item">
                <a class="nav-link {{#compare active '===' 'om'}}active{{/compare}}" href="/om">Om</a>
              </li>
            </ul>
            <form id="searchForm" class="form-inline mt-2 mt-md-0" method="post" action="/sok/">
              <input class="form-control mr-sm-2 autoComplete" id="searchField" type="text" name="search" placeholder="søk" aria-label="Search" list="searchList" autocomplete="off">
              <datalist id="searchList"></datalist>
            </form>
          </div>
        </nav>
      </header>

      <main role="main container">
        {{#if race.byline_text}}
          {{#compare active '===' 'ritt'}}
            <div class="backdrop-overlay"><img src="{{../imageUrl}}/races/{{../race.uid}}.jpg"/></div>
            {{/compare}}
        {{/if}}
        <div class="position-relative p-3 p-md-3 m-md-3">
          {{{ body }}}
        </div>
      </main>
      <footer class="footer">
        <div class="container">
          <span class="text-muted">Knut Haugen © 2018-2019. Grafer laget med <a href="https://www.highcharts.com">HighCharts</a> under <a href="http://creativecommons.org/licenses/by-nc/3.0/">Creative Commons lisens</a></span>
        </div>
      </footer>
    </body>
    <script src="/assets/js/{{hashedAssets 'bundle.js'}}" crossorigin="anonymous"></script>
    <script src="/assets/js/highcharts.js" crossorigin="anonymous"></script>
    <script src="/assets/js/dark-unica.js" crossorigin="anonymous"></script>
    <script src="/assets/js/sortable.min.js" crossorigin="anonymous"></script>
    {{> analytics}}
  </html>
