<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h3>{{raceCount}} ritt, {{stageCount}} etapper, {{riderCount}} ryttere, uante mengder slangeløs-guffe...
  </div>
</div>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p>På dette nettstedet kan du grave deg (nesten) så dypt du ønsker i norske enduro-resultater. Se hvor du tapte tid for bestekompisen på Nesbyen enduro i 2015, eller hvor mange sekunder bak Espen Bergli-Johnsen du lå etter 3 etapper av av Bodø enduro i 2017. Eller hvor mye bedre enn de andre var faktisk Zakarias Blom Johansen på Oppdal enduro i 2016? Svaret finner du her (hint: mye bedre). Det er ogå en hel haug andre muligheter for tallnerding på resultatene dine og andres. Husk å trykke på + i tabellene, for det ligger det ekstra snadder og venter på deg. </p><p>Eller kanskje du vare vil finne ut om det er noen fremgang fra ritt til ritt, selv om du kanskje best kan karakteriseres som listefyll? Noen av oss må jo ta den rollen også. </p>
    <p>Per nå er ikke alle rittene samlet her, da resultatene ikke lenger er å oppdrive på det regulære internettet, eller er svært mangelfulle. Sitter du på resultatene fra noen av rittene som mangler, hører jeg gjerne fra deg! Se listen av ritt som mangler <a href="/om">her</a>.</p>
  </div>
</div>

<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h3>Siste resultater</h3>
    {{#each races}}
    <a href="/ritt/{{uid}}">{{name}} {{year}}</a><br/>
    {{/each}}
  </div>
  <div class="col-2">
  </div>
</div>

