
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-4 col-12">
    <div class="frontpage-plug">
      <h3><a href="/artikler/1"> Norgescup sammenlagt før siste runde</a></h3>
      <div class="ingress">
        <figure class="text-image right">
          <img width="250" src="{{imageUrl}}/plugs/bastnes-spikkestad.jpg" alt="Annette Bastnes på Spikkestad enduro"/>
          <figcaption class="byline"><a href="http://jonborgersen.com/"> Foto: Jon Borgersen</a></figcaption>
        </figure>
Den første Norgescupen i enduro er ganske åpen i herreklassene for junior og senior, mens kvinner senior allerede er avgjort før siste runde. Mange trodde det også var Norgescup for master, men det viser seg å ikke stemme. 
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-12">
    <div class="frontpage-plug">
      <h3><a href="/artikler/2"> Trysil runder av sesongen 2022</a></h3>
      <p class="ingress">
        Trysil enduro runder av sesongen 2022, som i fjor, med høstfarger og fete stier i et av Norges stisykkelmekka. 
      </p>
    </div>
  </div>
  <div class="col-2"></div>
</div>
<div class="row" style="height: 3 0px;"></div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2 col-12">
    <h3>Siste resultater</h3>
    {{#each races}}
      <a href="/ritt/{{uid}}">{{name}} {{year}}</a><br/>
    {{/each}}
  </div>
  <div class="col-lg-6 col-12">
    <figure>
      <img class="front-image" src="{{imageUrl}}/frontpage.jpg" alt="Trysil Enduro 2020 av Jon Borgersen" title="Trysil Enduro 2020 av Jon Borgersen"" />
      <figcaption class="byline"><a href="http://jonborgersen.com/"> Foto: Jon Borgersen</a></figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <div class="frontpage-news">
      <h3>Teknisk oppdateringer</h3>
      <p><h5>2022-06-13 Norgescup sammenlagt</h5>Poengberegning for Norgescupen er nå lagt inn, følg linken fra ritt-siden for f.eks NesbyEnduro (foreløpig eneste ritt i NC).</p>
      <p><h5>2021-09-07 Første ritt inkludert!</h5>Knut Lønnqvist har gravd frem resultatene fra det aller første rittet i Nesbyen, våren 2012. </p>
      <p><h5>2021-06-29 Sesongen er i gang!</h5>Endurosesongen 2021 er offisielt i gang med Ekstremsportveko Enduro. </p>
      Se <a href="/endringer">endringlisten</a> for alle tekniske nyheter om resultater og funksjonalitet.
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>




