<div class="row">
  <div class="col-lg-2"></div>
    {{#each plugs}}
    {{#compare @index '===' 0}}
    <div class="col-lg-8 col-12">
    {{else}}
    <div class="col-lg-4 col-12">
    {{/compare}}

    <div class="frontpage-plug">
      <h3><a href="/artikler/{{permalink}}">{{frontpage_title}}</a></h3>
      <div class="ingress">
        {{#if frontpage_image_url}}
        <figure class="text-image right">
          <img width="250" src="{{../imageUrl}}{{frontpage_image_url}}"/>
          {{#if frontpage_image_byline}}
          <figcaption class="byline">
            {{#if frontpage_image_byline_url}}
            <a href="{{frontpage_image_byline_url}}">
            {{/if}}
              Foto: {{frontpage_image_byline}} {{#if frontpage_image_byline_url}}</a>{{/if}}
            </figcaption>
            {{/if}}
        </figure>
        {{/if}}
        {{frontpage_ingress}}
      </div>
    </div>
    </div>
    {{#compare @index '===' 0}}
    <div class="col-2"></div>
    </div>
    <div class="row" style="height: 20px;"></div>
    <div class="row">
      <div class="col-2"></div>
      {{/compare}}
    {{/each}}
  <div class="col-2"></div>
</div>

<div class="row" style="height: 30px;"></div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-2 col-12">
    <h3>Siste resultater</h3>
    {{#each races}}
      <a href="/ritt/{{uid}}">{{name}} {{year}}</a><br/>
    {{/each}}
  </div>
  <div class="col-lg-6 col-12">
    <figure>
      <img class="front-image" src="{{imageUrl}}/frontpage.jpg" alt="Trysil Enduro 2020 av Jon Borgersen" title="Trysil Enduro 2020 av Jon Borgersen"" />
      <figcaption class="byline"><a href="http://jonborgersen.com/"> Foto: Jon Borgersen</a></figcaption>
    </figure>
  </div>
</div>
<div class="row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 col-12">
    <div class="frontpage-news">
      <h3>Tekniske oppdateringer</h3>
      <p><h5>2022-09-18 Artikler</h5>Innført artikler på forsiden og artikkelsider, muligens på sikt for rittinvitasjoner og andre "nyheter".</p>
      <p><h5>2022-06-13 Norgescup sammenlagt</h5>Poengberegning for Norgescupen er nå lagt inn, følg linken fra ritt-siden for f.eks NesbyEnduro (foreløpig eneste ritt i NC).</p>
      <p><h5>2021-09-07 Første ritt inkludert!</h5>Knut Lønnqvist har gravd frem resultatene fra det aller første rittet i Nesbyen, våren 2012. </p>
      Se <a href="/endringer">endringlisten</a> for alle tekniske nyheter om resultater og funksjonalitet.
    </div>
  </div>
  <div class="col-lg-2"></div>
</div>




