<div class="row">
  <div class="col-2"></div>
  <div class="col-8">
    <p>Norsk enduro er et forsøk på å samle resultater fra alle norske enduroritt, og hente ut mer
      informasjon fra dem. Man kan analysere rytteres fremgang fra ritt til ritt, se hvor tett eller spredd ut resultatene er i rittene og se historikken på hvilke ryttere som gjør det best over tid. Ikke minst kan man se hvordan norsk enduro har utviklet seg på et større plan siden den relativt spede starten i 2012 og fram til nå. </p>
    <p>Per nå er ikke alle rittene samlet her, da resultatene ikke lenger er å oppdrive på det regulære internettet, eller er svært mangelfulle. Sitter du på resultatene fra noen av rittene som mangler, hører jeg gjerne fra deg! Se listen av ritt som mangler <a href="/om">her</a>.</p>
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h3>{{raceCount}} ritt, {{stageCount}} etapper, {{riderCount}} ryttere, uante mengder slangeløs-guffe...
  </div>
</div>
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h3>Siste resultater</h3>
    {{#each races}}
    <a href="/ritt/{{uid}}">{{name}} {{year}}</a><br/>
    {{/each}}
  </div>
  <div class="col-2">
  </div>
</div>

