{{#if race.name}}
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-10">
    <div class="row">
      <div class="col-4">
        <h2><a name="top">{{race.name}} {{race.year}}</a></h2>
      </div>
      {{#if noResults}}
      <div class="col-8">
        {{#each results}}<a class="btn btn-outline-light mr-1 mt-2" title="Hopp til resultater for {{@key}}" href="#{{@key}}">{{@key}}</a> {{/each}}
      </div>
      {{/if}}
    </div>
    <div class="row">
      <div class="col-3 middle-align">{{race.date}} {{race.stages}} {{#compare race.stages '===' 1}}etappe{{else}}etapper{{/compare}}</div>
      <div class="col-3 middle-align">{{> series race}}</div>
    </div>
    {{#if race.text}}
    <div class="row">
      <div class="col-10">{{race.text}}</div>
    </div>
    {{/if}}
    {{#if links}}
    <div class="row">
      {{#each links}}
      <div class="col-3"><a href="{{url}}">{{description}}{{> icon}}</a></div>
      {{/each}}
    </div>
    {{/if}}
  </div>
</div>
{{#each results}}
<div class="row">
  <div class="col-11"> <h3><a class="none" name="{{@key}}">{{@key}}</a> </h3></div>
  <div class="col-1"><a class="toplink" data-toggle="tooltip" data-original-title="Tilbake til toppen" href="#top">{{>icon type='pil'}}</a></div>
</div>
<div class="row">
  <div class="col-12">
    Velg graf <select id="graph-selector-{{@key}}" class="mb-2 graph-selector">
      <option value="places" selected>Plasseringer</option>
      <option value="times">Tid bak</option>
      <option value="acc-times">Total tid bak</option>
    </select>
    <div class="race-prog-graph" id="{{@key}}-graph" data-object-places="{{lookup ../graphs (cat @key '-places')}}" data-object-times="{{lookup ../graphs (cat @key '-times')}}" data-object-acc-times="{{lookup ../graphs (cat @key '-acc-times')}}"></div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-dark table-borderless table-striped table-sm main-table">
      <thead>
        <tr>
          <th scope="col" data-toggle="tooltip" data-original-title="trykk for mer informasjon om rytterens prestasjon i rittet">{{> icon type='info'}}</th>
          <th scope="col" data-sort-method="number">Plass</th>
          <th scope="col">Navn</th>
          {{#each ../stages}}
          <th scope="col">Etappe {{this}}</th>
          {{/each}}
          <th scope="col" data-sort-method="number">Totaltid</th>
          <th scope="col" data-sort-method="number">Etter vinner</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr class="{{#compare @index '%' 2}}even{{else}}odd{{/compare}}">
          <td>{{> icon type='plus-race'}}</td>
          <td scope="row">{{final_rank}}</td>
          <td><a data-id="{{rider_id}}" href="/rytter/{{uid}}">{{name}}</a></td>
          {{#each ../../stages}}
          <td><span data-toggle="tooltip" data-original-title="nr. {{lookup ../this (propFor this 'rank')}} på etappen, {{lookup ../this (propFor this 'behind_leader')}} bak etappevinner">{{> stagetime result=../this stage=this }}</span></td>
          {{/each}}
          <td data-sort="{{acc_time_ms}}">{{#compare acc_time '===' '00:00.0'}}<span class=dnf>{{../final_status}}</span>{{else}}{{../acc_time}}{{/compare}}</td>
          <td data-sort="{{acc_time_behind_ms}}">{{#compare acc_time_behind '!==' '00:00.0'}}{{../acc_time_behind}}{{/compare}}</td>
        </tr>
        <tr class="hide race-details">
          <td colspan="12">
            <div class="row race-details">
              <div class="col-6">
                <table>
                  <thead>
                    <tr>
                      <th scope="col">Etappe</th>
                      {{#each ../../stages}}
                      <th scope="col">FE{{this}}</th>
                      {{/each}}
                      <th scope="col">Snitt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Tid bak etappevinner</strong></td>
                    {{#each ../../stages}}
                      <td>{{lookup ../this (propFor this 'behind_leader')}}</td>
                      {{/each}}
                      <td>{{avg_behind_leader}}</td>
                    </tr>
                    <tr>
                      <td><strong>Prosent bak</strong></td>
                      {{#each ../../stages}}
                      <td>{{lookup ../this (propFor this 'percent_behind_leader')}}%</td>
                      {{/each}}
                      <td>{{avg_percent_behind_leader}}%</td>
                    </tr>
                    {{#compare final_rank '!==' 1}}
                    <tr>
                      <td><strong>Total tid bak vinner</strong></td>
                      {{#each ../acc_behind_leader}}
                      <td>{{this}}s</td>
                      {{/each}}
                    </tr>
                    {{#compare ../final_rank '!==' 2}}
                    <tr>
                      <td><strong>Total tid bak rytter foran</strong></td>
                      {{#each ../acc_behind_infront}}
                      <td>{{this}}s</td>
                      {{/each}}
                    </tr>
                    {{/compare}}
                    {{/compare}}
                    <tr>
                      <td><strong>Total plass per etappe</strong></td>
                      {{#each place_by_stage}}
                      <td>{{this}}</td>
                      {{/each}}
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <div id="{{uid}}-chart" class="race-detail-graph" data-object="{{chartData}}"></div>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/each}}
<script src="/assets/js/{{hashedAssets 'race.js'}}" crossorigin="anonymous"></script>
{{else}}
<div class="row">
  <div class="col-2">
  </div>
  <div class="col-10">
    <p>Beklager, det rittet fant vi ikke. Sikker på at url er riktig?</p>
  </div>
</div>

{{/if}}


