<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h2>{{race.name}}</h2>
    <p>Dato: {{race.date}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{#each results}}
    <h3>{{@key}}</h3>

    <table class="table table-dark table-striped">
      <thead>
        <tr>
          <th scope="col">Plass</th>
          <th scope="col">Navn</th>
          <th scope="col">Etappe 1</th>
          <th scope="col">Etappe 2</th>
          <th scope="col">Etappe 3</th>
          <th scope="col">Etappe 4</th>
          <th scope="col">Etappe 5</th>
          <th scope="col">Etappe 6</th>
          <th scope="col">Totaltid</th>
          <th scope="col">Etter vinner</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr>
          <th scope="row">{{rank}}</th>
          <td>{{name}}</td>
          <td>{{stage1_time}} ({{stage1_rank}})</td>
          <td>{{stage2_time}} ({{stage2_rank}})</td>
          <td>{{stage3_time}} ({{stage3_rank}})</td>
          <td>{{stage4_time}} ({{stage4_rank}})</td>
          <td>{{stage5_time}} ({{stage5_rank}})</td>
          <td>{{stage6_time}} ({{stage6_rank}})</td>
          <td>{{acc_time}}</td>
          <td>{{acc_time_behind}}</td>
        </tr>
        {{/each}}
        <tr>
      </tbody>
    </table>
    {{/each}}
  </div>
</div>



