<div class="row">
  <div class="col-2">
  </div>
  <div class="col-8">
    <h2><a name="top">{{race.name}} {{race.year}}</a></h2>
    <div class="row">
      <div class="col-2">{{race.date}}</div>
      <div class="col-2">{{race.stages}} etapper</div>
      <div class="col-8">klasser: {{#each results}}<a title="Hopp til resultater for {{@key}}" href="#{{@key}}">{{@key}}</a> {{/each}}</div>
    </div>
  </div>
</div>
{{#each results}}
<div class="row">
  <div class="col-11"> <h3><a name="{{@key}}">{{@key}}</a> </h3></div>
  <div class="col-1"><a class="toplink" title="Tilbake til toppen" href="#top">&#8679</a></div>
</div>
<div class="row">
  <div class="col-12">
    <table class="table table-dark table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Plass</th>
          <th scope="col">Navn</th>
          {{#each ../stages}}
          <th scope="col">Etappe {{this}}</th>
          {{/each}}
          <th scope="col">Totaltid</th>
          <th scope="col">Etter vinner</th>
        </tr>
      </thead>
      <tbody>
        {{#each this}}
        <tr>
          <th scope="row">{{final_rank}}</th>
          <td><a href="/rytter/{{uid}}">{{name}}</a></td>
          {{#each ../../stages}}
          <td title="nr. {{lookup ../this (propFor this 'rank')}} på etappen, {{lookup ../this (propFor this 'behind_leader')}} bak etappevinner">{{> stagetime result=../this stage=this }}</span></td>
          {{/each}}
          <td>{{acc_time}}</td>
          <td>{{acc_time_behind}}</td>
        </tr>
        {{/each}}
        <tr>
      </tbody>
    </table>
  </div>
</div>
{{/each}}



