<div class="row">
  <div class="col-9"> <h2><a name="top">Rytterranking</a></h2></div>
  <div class="col-3">
    <a class="btn btn-outline-light mr-1 mt-2" title="Hopp til resultater for menn" href="#men">Menn</a>
    <a class="btn btn-outline-light mr-1 mt-2" title="Hopp til resultater for Kvinner" href="#women">Kvinner</a>
  </div>
</div>

<div class="row">
  <div class="col-11"> <h3><a class="none" name="women">Kvinner</a></h3></div>
  <div class="col-1"><a class="toplink" data-toggle="tooltip" data-original-title="Tilbake til toppen" href="#top">{{>icon type='pil'}}</a></div>
</div>
<div class="row">
<div class="col-1">
</div>
<div class="col-10">
  <table class="table table-hover table-borderless table-dark table-striped table-sm" id="riders-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Navn</th>
        <th scope="col">Klubb</th>
        <th scope="col">Beste 책r</th>
        <th scope="col">Snitt best 책r</th>
        <th scope="col">Score</th>
      </tr>
    </thead>
    <tbody>
      {{#each women}}
      <tr>
        <td>{{inc @index}}</td>
        <td><a href="/rytter/{{uid}}">{{name}}</a></td>
        <td>{{club}}</td>
        <td>{{best_year}}</td>
        <td>{{average_best_year}}</td>
        <td>{{score}}</td>
      </tr>
      {{/each}}
      <tr>
    </tbody>
  </table>
</div>
</div>

<div class="row">
  <div class="col-11"> <h3><a class="none" name="men">Menn</a></h3></div>
  <div class="col-1"><a class="toplink" data-toggle="tooltip" data-original-title="Tilbake til toppen" href="#top">{{>icon type='pil'}}</a></div>
</div>
<div class="row">
  <div class="col-1">
    </div>
    <div class="col-10">
      <table class="table table-hover table-borderless table-dark table-striped table-sm" id="riders-table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Navn</th>
            <th scope="col">Klubb</th>
            <th scope="col">Beste 책r</th>
            <th scope="col">Snitt best 책r</th>
            <th scope="col">Score</th>
          </tr>
        </thead>
        <tbody>
          {{#each men}}
          <tr>
            <td>{{inc @index}}</td>
            <td><a href="/rytter/{{uid}}">{{name}}</a></td>
            <td>{{club}}</td>
            <td>{{best_year}}</td>
            <td>{{average_best_year}}</td>
            <td>{{score}}</td>
          </tr>
          {{/each}}
          <tr>
        </tbody>
      </table>
    </div>
</div>


