<div class="row">
  <div class="col-3">
    <h4>{{rider.name}}</h4>
    <p>Klubb: {{rider.club}}<br/>
      Ritt: {{numRaces}}<br/>
      Første ritt: {{startYear}}<br/>
      Beste sesong: {{year}}<br/>
      Snittplassering beste år: {{avg}}<br/>
    </p>
  </div>
  <div class="col-9">
    <h3>Resultater</h3>
    <table class="table table-hover table-dark table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Dato</th>
          <th scope="col">Ritt</th>
          <th scope="col">Klasse</th>
          <th scope="col">Plassering</th>
          <th scope="col">Totaltid</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr>
          <td>{{date}}</a></td>
          <td><a href="/ritt/{{uid}}#{{class}}">{{raceName}}</a></td>
          <td>{{class}}</td>
          <td>{{rank}}/{{count}}</td>
          <td>{{time}}/<span title="Tid etter vinner i klasse">{{time_behind}}</td>
        </tr>
        {{/each}}
        <tr>
      </tbody>
    </table>

  </div>
</div>


