<div class="row">
  <div class="col-4">
    <h3>{{rider.name}}</h3>
    <p class="rider-info">Klubb: {{rider.club}}<br/>
      Ritt: {{numRaces}}<br/>
      Første ritt: {{startYear}}<br/>
      {{#compare year '!==' 0}}
      Beste sesong: {{../year}}<br/>
      Snittplassering beste år: {{../avg}}<br/>
      <span data-toggle="tooltip" data-original-title="Et forsøk på å regne ut hvem som er best, over tid. Lavest er best. ">Rytter-score <span class="beta">beta</span> : {{../score}}</span><br/>
      {{/compare}}
    </p>
  </div>
  {{#if rider.byline_text}}
  <div class="col-8">
    <img class="rider-img" src="{{imageUrl}}/{{rider.uid}}.jpg">
    <p class="byline">Foto: <a href="{{rider.byline_url}}">{{rider.byline_text}}</a></a>
  </div>
  </div>
  <div class="row">
    <div class="col-12">
      Velg graf <select id="rider-graph-selector" class="mb-2 rider-graph-selector">
      <option value="percent" selected>Prosentvis plassering</option>
      <option value="places">Plassering i klasse</option>
      </select>
      <div id="rider-chart" class="rider-chart" data-object-places="{{placesChart}}" data-object-percent="{{percentChart}}"></div>
    </div>
  </div>
  {{else}}
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        Velg graf <select id="rider-graph-selector" class="mb-2 rider-graph-selector">
        <option value="percent" selected>Prosentvis plassering</option>
        <option value="places">Plassering i klasse</option>
        </select>
        <div id="rider-chart" class="rider-chart" data-object-places="{{placesChart}}" data-object-percent="{{percentChart}}"></div>
      </div>
    </div>
  </div>
</div>
{{/if}}
<div class="row">
  <div class="col-12">
    <h3>Resultater</h3>
    <table class="table table-hover table-borderless table-dark table-striped table-sm main-table">
      <thead>
        <tr>
          <th scope="col" data-sort-method="none" data-toggle="tooltip" data-original-title="trykk for mer informasjon om rittet">{{> icon type='info'}}</th>
          <th scope="col">Dato</th>
          <th scope="col">Ritt</th>
          <th scope="col">Klasse</th>
          <th scope="col">Plassering</th>
          <th scope="col">Totaltid</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr class="{{#compare @index '%' 2}}even{{else}}odd{{/compare}}">
          <td data-sort="f"> {{> icon type='plus'}}</td>
          <td data-sort="{{date}}">{{date}}</a></td>
          <td data-sort="{{raceName}}"><a href="/ritt/{{uid}}#{{class}}">{{raceName}}</a></td>
          <td data-sort="{{class}}">{{class}}</td>
          <td data-sort="{{rank}}" data-toggle="tooltip" data-original-title="Plass {{rank}} av {{count}} ryttere i klassen">{{rank}}/{{count}}</td>
          <td data-sort="{{time}}">
            {{time}}/<span data-toggle="tooltip" data-original-title="{{time_behind}} etter vinner i klassen">{{time_behind}}</span>
          </td>
        </tr>
        <tr class="hide race-details">
          <td colspan="6" data-sort="f">
            <div class="row">
              <div class="col-6">
                <table width="100%">
                  <thead>
                    <tr>
                      <th><strong>Etappe</strong></th>
                      {{#each details}}
                      <th><strong>{{name}}</strong></th>
                      {{/each}}
                      <th>Snitt</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><strong>Plass</strong></td>
                      {{#each details}}
                      <td>{{rank}}</td>
                      {{/each}}
                      <td>{{avg_rank}}</td>
                    </tr>
                    <tr>
                      <td><strong>Plass % av antall</strong></td>
                      {{#each details}}
                      <td>{{formatPercent percent_rank}}%</td>
                      {{/each}}
                      <td>{{formatPercent avg_percent_rank}}%</td>
                    </tr>
                    <tr>
                      <td><strong>Tid</strong></td>
                      {{#each details}}
                      <td>{{time}}</td>
                      {{/each}}
                    </tr>
                    <tr>
                      <td><strong>Tid bak etappevinner</strong></td>
                      {{#each details}}
                      <td>{{time_behind}}</td>
                      {{/each}}
                      <td>{{avg_time_behind}}</td>
                    </tr>
                    <tr>
                      <td><strong>Tid bak (%)</strong></td>
                      {{#each details}}
                      <td>{{percent_behind}}%</td>
                      {{/each}}
                      <td>{{avg_percent_behind}}%</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="col-6">
                <div class="race-graph" id="{{uid}}" data-object="{{chartData}}"></div>
              </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
   </div>
  </div>
</div>

<script src="/assets/js/{{hashedAssets 'rider.js'}}" crossorigin="anonymous"></script>

