<div class="row">
  <div class="col-4">
    <h4>{{rider.name}}</h4>
    <p>Klubb: {{rider.club}}<br/>
      Ritt: {{numRaces}}<br/>
      Første ritt: {{startYear}}<br/>
      {{#compare year '!==' 0}}
      Beste sesong: {{../year}}<br/>
      Snittplassering beste år: {{../avg}}<br/>
      <span title="Et forsøk på å regne ut hvem som er best, over tid. Lavest er best. ">Rytter-score <span class="beta">beta</span> : {{../score}}</span><br/>
      {{/compare}}
    </p>
  </div>
  <div class="col-8">
    <div class="row">
      <div class="col-12">
        <div id="rider-chart" class="rider-chart" data-object="{{chartObject}}"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h3>Resultater</h3>
    <table class="table table-hover table-dark table-striped table-sm main-table">
      <thead>
        <tr>
          <th scope="col" data-sort-method="none" title="trykk for mer informasjon om rittet">{{> icon type='info'}}</th>
          <th scope="col">Dato</th>
          <th scope="col">Ritt</th>
          <th scope="col">Klasse</th>
          <th scope="col">Plassering</th>
          <th scope="col">Totaltid</th>
        </tr>
      </thead>
      <tbody>
        {{#each results}}
        <tr>
          <td>{{> icon type='plus'}}</td>
          <td>{{date}}</a></td>
          <td><a href="/ritt/{{uid}}#{{class}}">{{raceName}}</a></td>
          <td>{{class}}</td>
          <td>{{rank}}/{{count}}</td>
          <td>{{time}}/<span title="{{time_behind}} etter vinner i klassen">{{time_behind}}</td>
        </tr>
        <tr class="hide race-details">
          <td colspan="6">
            <div class="row race-details">
              <div class="col-6">
              <table width="100%">
              <thead>
                <tr>
                  <th><strong>Etappe</strong></th>
                  {{#each details}}
                  <th><strong>{{name}}</strong></th>
                  {{/each}}
                  <th>Snitt</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Plass</strong></td>
                  {{#each details}}
                  <td>{{rank}}</td>
                  {{/each}}
                  <td>{{avg_rank}}</td>
                </tr>
                <tr>
                  <td><strong>Tid</strong></td>
                  {{#each details}}
                  <td>{{time}}</td>
                  {{/each}}
                </tr>
                <tr>
                  <td><strong>Tid bak</strong></td>
                  {{#each details}}
                  <td>{{time_behind}}</td>
                  {{/each}}
                  <td>{{avg_time_behind}}</td>
                </tr>
                <tr>
                  <td><strong>Tid bak (%)</strong></td>
                  {{#each details}}
                  <td>{{percent_behind}}%</td>
                  {{/each}}
                  <td>{{avg_percent_behind}}%</td>
                </tr>
              </tbody>
              </table>
              </div>
              <div class="col-6">
                <div class="race-graph" id="{{uid}}" data-object="{{chartData}}"></div>
              </div>
          </td>
        </tr>
        {{/each}}
        <tr>
      </tbody>
    </table>

  </div>
</div>

<script src="/assets/js/{{hashedAssets 'rider.js'}}" crossorigin="anonymous"></script>

