{{#if series.name}}
  <div class="row">
    <div class="col-12">
      <h2>{{series.name}} {{series.year}} sammenlagt</h2>
      {{#each sortedClasses}}<a class="btn btn-outline-light mr-1 mt-2" title="Hopp til resultater for {{this}}" href="#{{this}}">{{this}}</a> {{/each}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">Sammenlagt for de historiske seriene Østafjells enduroserie og 80/20 enduro series er beregnet med maksimalt 4 tellende ritt og samme poengskala som (i det minste) Østafjells-serien brukte i 2019. Det kan være små forskjeller rundt hvordan det faktisk ble beregnet et gitt år, men disse sidene bruker samme metode for alle år, og begge serier. Explorer og funduro-klasser er ikke med i sammenlagt-beregningene.(Alle poeng for serien i året i parantes). Norgescupen fra 2022 bruker NCFs poengskala for norgescup, felles for utfor, enduro, rundbane og maraton. </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{#each results}}
        <h3><a name="{{name}}">{{name}}</a></h3>
        <table class="table table-dark table-borderless table-striped table-sm main-table">
          <thead>
            <th scope="col""></th>
            <th scope="col" data-sortable-type="numeric">Plass</th>
            <th scope="col">Navn</th>
            {{#each allRaces}}
              <th scope="col" data-sortable-type="numeric">{{this}}</th>
            {{/each}}
            <th>Totalt</th>
          </thead>
          <tbody>
            {{#each entries}}
              <tr data-uid="{{uid}}" class="{{#compare @index '%' 2}}even{{else}}odd{{/compare}}">
                <td data-sort="f"> {{> icon type='plus'}}</td>
                <td>{{seriesrank}}</td>
                <td><a href="/rytter/{{uid}}">{{name}}</a></td>
                {{#each races}}
                  <td>{{#compare rank '===' 0}}-{{else}}{{../points}} <span class="stagerank">({{../rank}}/{{../totalInClass}})</span>{{/compare}}</td>
                {{/each}}
                <td>{{totalPoints}} {{#compare ../../series.name '!==' 'NC'}}<span class="stagerank">({{../maxTotalPoints}})</span>{{/compare}}</td>
              </tr>
              <tr class="hide series-details"><td colspan="10" id="rider-{{uid}}"></td></tr>
            {{/each}}
          </tbody>
        </table>
      {{/each}}
    </div>
  </div>
  <script src="/assets/js/{{hashedAssets 'series.js'}}" crossorigin="anonymous"></script>
{{else}}
<div class="row">
  <div class="col-2"></div>
  <div class="col-10">
    <p>Beklager, den serien fant vi ikke. Sikker på at url er riktig?</p>
  </div>
</div>

{{/if}}
